
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CS Identity Seminar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li {% if page.title == 'Home' %} class="nav-item active"{% endif %}><a class = "nav-link" href="/index.html">Home</a></li>
      <li {% if page.title == 'Schedule' %} class="nav-item active"{% endif %}><a class = "nav-link" href="/schedule.html">Schedule</a></li>
      <li {% if page.title == 'Resources' %} class="nav-item active"{% endif %}><a class = "nav-link" href="/resources.html">Resources</a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li><a class="nav-link" href="https://buildingcsidentity.slack.com/messages">Slack</a></li>
    </ul> 

    </form>
  </div>
</nav>
</div>